<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular-sanitize.js"></script>
    
    <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>  
    
    <script src="resources/cepController.js"></script>
    
    
    
  </head>
  <body ng-app="mainApp" ng-controller="cepController">

    <h1>Busca Endereco do CEP </h1>  
      
    <br/><br/>
    
    <div class="alert alert-danger" role="alert" ng-show="mensagem.length>1"  >{{mensagem}}</div>  
    
    
    <form class="form-inline">
      <div class="form-group">
        <label for="exampleInputName2">Digite o CEP: </label>
        <input type="text" ng-model="cepDigitado"  class="form-control" id="exampleInputName2" placeholder="CEP">
      </div>
        <button type="button"  ng-click="buscarEndereco()"  class="btn btn-primary">Buscar Endereco</button>
    </form>    
    <br/><br/>
    
    
    
    <br/><br/>
    
    <div class="panel panel-success">
        <div class="panel-heading">Resultado Busca por CEP</div>

        <table class="table table-hover">
    
            <thead>
                <tr>
                    <th>Rua</th>
                    <th>Bairro</th>
                    <th>Cidade</th>
                    <th>Estado</th>
                    <th>Cep</th>
                </tr>
            </thead>
      
            <tbody>
                <tr>
                    <td>{{endereco.rua}}</td>
                    <td>{{endereco.bairro}}</td>
                    <td>{{endereco.cidade}}</td>
                    <td>{{endereco.estado}}</td>
                    <td>{{endereco.cep}}</td>
                </tr>
                
            </tbody>
            
        </table>
    </div>    
    
    
    
</body>
</html>
